<footer id="footer" class="footer">
    <div class="copyright">
        <p>
            &copy; 2019-<span id="copyright-current-year"></span> 白鲸字幕组 All Rights Reserved
            <br>
            <a class="copyright" href="https://icp.gov.moe/?keyword=20240728" target="_blank">萌ICP备20240728号</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="copyright" href="http://beian.miit.gov.cn" target="_blank" title="工信部备案号">鲁ICP备19057855号</a>
            <br>
            Powered by <a class="copyright" href="https://hexo.io" target="_blank" title="使用的框架-Hexo">Hexo</a> 
& <a class="copyright" href="https://github.com/Siricee/hexo-theme-Chic" target="_blank" title="基于的Hexo模板">Chic</a> 
with modifications
        </p>
    </div>
</footer>
