// ==============================
// Custom style
// ==============================
//  Also You can override the variables in variable.styl to customize the style

p
  text-indent 2em

.copyright
  color #A9A9A9