#business-cases-example,
#accounts-bilibili,
#accounts-jinritoutiao,
#accounts-xiaohongshu,
#accounts-douyin,
#accounts-zhihu,
#accounts-weibo,
#accounts-wechat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#business-cases-example .case,
#accounts-bilibili .case,
#accounts-jinritoutiao .case,
#accounts-xiaohongshu .case,
#accounts-douyin .case,
#accounts-zhihu .case,
#accounts-weibo .case,
#accounts-wechat .case {
    flex: 1 1 150px; /* 每个案例占据的最小宽度 */
    max-width: 200px; /* 每个案例的最大宽度 */
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#business-cases-example .case img,
#accounts-bilibili .case img,
#accounts-jinritoutiao .case img,
#accounts-xiaohongshu .case img,
#accounts-douyin .case img,
#accounts-zhihu .case img,
#accounts-weibo .case img,
#accounts-wechat .case img {
    flex: 1 1 150px; /* 每个案例占据的最小宽度 */
    width: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    /* 默认的背景，作为加载前的占位符 */
    background: #f4f4f4 url('https://s2.loli.net/2024/01/19/yiqRBeYSrlgnNAT.webp') no-repeat center center;
    /* 当图片加载后，背景将被图片本身覆盖 */
}

#business-cases-example .case-info,
#accounts-bilibili .case-info,
#accounts-jinritoutiao .case-info,
#accounts-xiaohongshu .case-info,
#accounts-douyin .case-info,
#accounts-zhihu .case-info,
#accounts-weibo .case-info,
#accounts-wechat .case-info {
    padding: 15px;
}

#special-link p {
    color: rgb(21, 21, 21);
    text-indent: 0;
}

#membersMap {
    display: flex;         /* 使用 Flexbox 布局 */
    justify-content: center; /* 水平居中 */
    align-items: center;    /* 垂直居中 */
    flex: 1 1 auto;         /* 宽度自适应，但保持至少200px */
    max-width: 1200px;      /* 最大宽度设置为1500px */
    height: 500px;          /* 高度保持不变 */
    margin: auto;           /* 边距自动调整以保持居中 */
}
